body{
  background-color: rgb(235, 246, 255);
  font-family: sans-serif;
}

.card{
  width: 300px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.199);
  border-radius: 5px;
  margin: 15% auto;
  padding: 1.3rem 1rem 0rem 1rem;
}

.profile{
  display: inline-flex;
  align-items: center;
}

.profile img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile h2{
  font-size: 0.7rem;
  padding-left: 1rem;
}

img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0 0;
}

.container{
  padding: 2px 18px 30px 20px;
}

.container .title{
  display: inline-block;
  font-size: 0.8rem;
}

p, h4{
  margin: 5px 0;
}

button{
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
}

.heart h4 {
  font-size: 1.8rem;
  margin: 0;
  transition: 0.2s ease;
  cursor: pointer;
}

.heart h4.active {
  color: red;
  transform: scale(1.1);
}

button .heart:hover h4 {
  transform: scale(1.05);
}

/* animasi pop */
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(2.5); }
  100% { transform: scale(1); }
}

.heart h4.active {
  color: red;
  animation: pop 0.5s ease;
}
